<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.1</string>
	<key>CFBundleIdentifier</key>
	<string>com.USBPorts.map</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBPorts</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>XHC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:20:0</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBHostController</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>FQAAAA==</data>
				<key>ports</key>
				<dict>
					<key>HS03</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS03</string>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>HS04</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS04</string>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
					<key>HS05</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS05</string>
						<key>port</key>
						<data>BQAAAA==</data>
					</dict>
					<key>HS06</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS06</string>
						<key>port</key>
						<data>BgAAAA==</data>
					</dict>
					<key>HS07</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS07</string>
						<key>port</key>
						<data>BwAAAA==</data>
					</dict>
					<key>HS08</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS08</string>
						<key>port</key>
						<data>CAAAAA==</data>
					</dict>
					<key>HS09</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS09</string>
						<key>port</key>
						<data>CQAAAA==</data>
					</dict>
					<key>HS10</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS10</string>
						<key>port</key>
						<data>CgAAAA==</data>
					</dict>
					<key>HS11</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS11</string>
						<key>port</key>
						<data>CwAAAA==</data>
					</dict>
					<key>HS12</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS12</string>
						<key>port</key>
						<data>DAAAAA==</data>
					</dict>
					<key>SSP1</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>SSP1</string>
						<key>port</key>
						<data>EAAAAA==</data>
					</dict>
					<key>SSP2</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>SSP2</string>
						<key>port</key>
						<data>EQAAAA==</data>
					</dict>
					<key>SSP5</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>SSP5</string>
						<key>port</key>
						<data>FAAAAA==</data>
					</dict>
					<key>SSP6</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>SSP6</string>
						<key>port</key>
						<data>FQAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>Macmini7,1</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
